@{
    if(Context.User.Identity.IsAuthenticated)
    {
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" style="color: white;">Bem vindo, <b>@Context.User.Identity.Name</b>!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Sair</a>
            </li>
        </ul>
    }
    else
    {
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Cadastre-se</a>
            </li>
        </ul>
    }
}