@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <br>
    <br>
    <br>
    <div style="display: flex; justify-content: space-between;">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Aviso</div>
            <div class="card-body">
                <h4 class="card-title">Mês de promoção</h4>
                <p class="card-text">Alguns itens do nosso catálogo estão em promoção, confira <a href="">tabela de preços atualizada</a>.</p>
            </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Aviso</div>
            <div class="card-body">
                <h4 class="card-title">"Boom" de vendas</h4>
                <p class="card-text">Vendas do departamento de eletrônicos crescendo nos ultimos meses devido a <a href="">leia mais...</a></p>
            </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Aviso</div>
            <div class="card-body">
                <h4 class="card-title">Problemas com estoque</h4>
                <p class="card-text">Alguns itens estão em falta no estoque, a reposição está prevista para <a href="">leia mais...</a>.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div style="display: flex; justify-content: space-between;">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Aviso</div>
            <div class="card-body">
                <h4 class="card-title">O preferido dos consumidores</h4>
                <p class="card-text">Todos nós temos aquela marca de confiança que sempre é primeira opção na hora de adquitir um <a href="">leia mais...</a> </p>
            </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Aviso</div>
            <div class="card-body">
                <h4 class="card-title">Fim de ano chegando</h4>
                <p class="card-text">Fim de ano chegando e nada melhor do que começar o novo ano <a href="">leia mais...</a></p>
            </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Aviso</div>
            <div class="card-body">
                <h4 class="card-title">The Best Seller Awards</h4>
                <p class="card-text">No dia 20 de dezembro será realizada a confraternização e entrega do prêmio "The Best Seller <a href="">leia mais...</a>.</p>
            </div>
        </div>
    </div>
</div>
